@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

/*Utilidades*/
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/*Home*/
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/*Bicileta*/
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/*Biciletas*/
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";

/*seguros*/
@import "./seguros/seguros.css";
@import "./seguros/perguntas.css";
@import "./seguros/vantagens.css";

/*termos*/
@import "./termos/termos.css";

/*termos*/
@import "./contato/contato.css";
@import "./contato/lojas.css";
